<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id='testMessage' class="indi.jackie.miracle.spring.bpp.TestMessage" init-method="init">
        <property name="name" value="jackie"/>
        <property name="age" value="1"/>
    </bean>
    <bean id='testMessage2' class="indi.jackie.miracle.spring.bpp.TestMessage2" init-method="init">
        <property name="name" value="jackie2"/>
        <property name="age" value="12"/>
    </bean>

    <bean id="hello" class="indi.jackie.miracle.spring.aware.Hello">
    </bean>

    <!--
    when the above bean (messenger) is instantiated, this custom
    BeanPostProcessor implementation will output the fact to the system console
    -->
    <bean class="indi.jackie.miracle.spring.bpp.TestBeanPostProcessor">
    </bean>

    <bean class="indi.jackie.miracle.spring.bpp.TestBeanFactoryPostProcessor">
    </bean>

    <!-- zk curator -->
    <bean id="curator" class="org.apache.curator.framework.CuratorFrameworkFactory"
          factory-method="newClient" init-method="start">
        <constructor-arg index="0" value="127.0.0.1:2181" />
        <constructor-arg index="1" value="30000" />
        <constructor-arg index="2" value="8000" />
        <constructor-arg index="3">
            <bean class="org.apache.curator.retry.ExponentialBackoffRetry">
                <constructor-arg index="0" value="1000" />
                <constructor-arg index="1" value="3" />
            </bean>
        </constructor-arg>
    </bean>


</beans>